.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #637c9e;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 0.8s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: white;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}






body {
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 200;
}

.logo {
    color: white;
    font-size: 28px;
    line-height: 60px;
    padding-left: 250px;
    float: left;
}

main {
    width: 100%;
    height: 100%;
}

.menu {
    float: left;
    padding-left: 310px;
}

ul li {
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title_container {
    float: left;
    margin: 350px 0px 0px 330px;
    color: #2c384a;
    text-align: center;
}

.title_container h1 {
    font-size: 60px;
    font-weight: bold;
}

.title_container h4 {
    margin-top: 30px;
    font-size: 20px;
    color: #79818d;
}

.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    font-weight: bold;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}





.title_container input {
    transition: all 0.2s;
    transform: scale(1);
}

.title_container input:hover {
    background: #344051;
    color: white;
}

.title_container input:active {
    transform: scale(1.1);
}

.menu li a {
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: #e88604;
}

.menu li a:active {
    transform: scale(1.1);
}

@keyframes comming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.logo {
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li {
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.menu li:nth-child(2) {
    animation-delay: 0.4s
}

.menu li:nth-child(3) {
    animation-delay: 0.8s
}

.menu li:nth-child(4) {
    animation-delay: 1.2s
}

.menu li:nth-child(5) {
    animation-delay: 1.6s
}

.menu li:nth-child(6) {
    animation-delay: 2s
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 330px;
    }
}

.title_container {
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

.about input {
    transition: all 0.2s;
    transform: scale(1);
}

.about input:hover {
    background: url(../img/icon_1.png) 7% 50%/auto 50% no-repeat;
    background-color: #344051;
    border-color: #344051;
    color: white;
}

.about input:active {
    transform: scale(1.1);
}

.contact_details1 input {
    transition: all 0.2s;
    transform: scale(1);
}

.contact_details1 input:hover {
    background: #db8756;
    color: white;
}

.contact_details1 input:active {
    transform: scale(1.1);
}

.message input {
    transition: all 0.2s;
    transform: scale(1);
}

.message input:hover {
    background: rgba(242, 243, 244, 0.5);
    color: white;
}

.message input:active {
    transform: scale(1.1);
}






.about {
    width: 100%;
    height: 615px;
}

.about h2 {
    margin-top: 95px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}

.underl {
    margin: 25px auto 0px;
    display: block;
}

#ph1 {
    margin: 50px auto 20px;
    display: block;
}

.about p {
    margin: 0px 450px 40px 450px;
    color: #3f495a;
    font-size: 15px;
}

.about input {
    height: 30px;
    text-align: center;
    border: 2px solid #6f707e;
    background: url(../img/icon.png) 7% 50%/auto 50% no-repeat;
    border-radius: 5px;
    color: #6f707e;
    font-size: 14px;
    padding: 5px 10px 5px 30px;
    margin: auto;
    display: block;
}

.skills {
    width: 100%;
    height: 480px;
    background: url(../img/bg1.jpg) center/cover no-repeat;
}

.skills_container h2 {
    padding-top: 95px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}

.skills h3 {
    font-size: 18px;
    color: #cf7600;
    font-weight: bold;
    padding: 40px 0px 15px 0px;
    text-align: center;
}

.skills p {
    font-size: 15px;
    color: #3f495a;
    text-align: center;
}

.web_designer {
    display: inline-block;
    width: 200px;
    margin: 80px 0px 0px 415px;
    -webkit-animation: comming_1 2s ease;
    -o-animation: comming_1 2s ease;
    animation: comming_1 2s ease;
}

@keyframes comming_1 {
    from {
        opacity: 0;
        margin-left: -80px;
    }

    to {
        opacity: 1;
        margin-left: 415px;
    }
}


.web_designer img {
    margin: 0px auto 0px;
    display: block;
}

.development {
    display: inline-block;
    width: 200px;
    margin: 80px 0px 0px 90px;
    -webkit-animation: comming_2 2s ease;
    -o-animation: comming_2 2s ease;
    animation: comming_2 2s ease;
}

@keyframes comming_2 {
    from {
        opacity: 0;
        margin-left: -80px;
    }

    to {
        opacity: 1;
        margin-left: 90px;
    }
}


.development img {
    margin: 0px auto 0px;
    display: block;
}

.optimization {
    display: inline-block;
    width: 200px;
    margin: 80px 0px 0px 90px;
    -webkit-animation: comming_3 2s ease;
    -o-animation: comming_3 2s ease;
    animation: comming_3 2s ease;
}

@keyframes comming_3 {
    from {
        opacity: 0;
        margin-left: -80px;
    }

    to {
        opacity: 1;
        margin-left: 90px;
    }
}


.optimization img {
    margin: 0px auto 0px;
    display: block;
}

.marketing {
    display: inline-block;
    width: 200px;
    margin: 80px 0px 0px 90px;
    -webkit-animation: comming_4 2s ease;
    -o-animation: comming_4 2s ease;
    animation: comming_4 2s ease;
}

@keyframes comming_4 {
    from {
        opacity: 0;
        margin-left: -80px;
    }

    to {
        opacity: 1;
        margin-left: 90px;
    }
}

.marketing img {
    margin: 0px auto 0px;
    display: block;
}

.cases {
    width=100%;
}

.cases h2 {
    padding-top: 95px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}

.cases p {
    padding: 35px 0px 35px 0px;
    color: #3f495a;
    font-size: 14px;
    text-align: center;
}

.cases img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.contact_details {
    width: 100%;
    height: 180px;
    margin-top: 40px;
}

.contact_details1 {
    float: left;
    width: 190px;
    margin-left: 388px;
}

.contact_details2 {
    float: left;
    width: 850px;
    margin-left: 100px;
}

.contact_details h3 {
    color: #384354;
    font-size: 18px;
    font-weight: bold;

}

.contact_details1 p {
    color: #384354;
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.contact_details2 p {
    color: #384354;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 25px;
    text-align: justify;
}

.contact_details1 input {
    height: 45px;
    width: 180px;
    text-align: center;
    background-color: #63b5ae;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.cost_calculation {
    width: 100%;
    margin-bottom: 10px;
}

.cost_calculation h2 {
    padding-top: 200px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #263244;
}

.cost_calculation h3 {
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 20px;
    font-weight: 900px;
    color: #384354;
    font-weight: bold;
}

.criteria {
    display: block;
    width: 888px;
    margin: auto;
}

.criteria select {
    width: 890px;
    height: 60px;
    padding-left: 25px;
    background-color: #eeeeee;
    color: #a1a1a1;
}

#line {
    margin: 35px auto 25px;
    display: block;
}

.table {
    width: 100%;
    color: #384354;
    font-size: 18px;
    font-weight: bold;
}

.table tr {
    width: 890px;
    margin: 35px auto 25px;
    display: block;
}

.statistics {
    width: 100%;
    height: 496px;
    background: url(../img/stat_bg.jpg) fixed center/cover  no-repeat;
    margin-top: 100px;
}

.stat_container h2 {
    padding-top: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}

.stat_container h3 {
    font-size: 35px;
    color: #263244;
    font-weight: bold;
    padding: 30px 0px 30px 0px;
    text-align: center;
}

.stat_container p {
    font-size: 15px;
    color: #263244;
    font-weight: bold;
    text-align: center;
}

.clients {
    display: inline-block;
    width: 200px;
    margin: 80px 0px 0px 415px;
    -webkit-animation: comming_5 2s ease;
    -o-animation: comming_5 2s ease;
    animation: comming_5 2s ease;
}

@keyframes comming_5 {
    from {
        opacity: 0;
        margin-left: -80px;
    }

    to {
        opacity: 1;
        margin-left: 415px;
    }
}

.clients img {
    margin: 0px auto 0px;
    display: block;
}

.hours {
    display: inline-block;
    width: 200px;
    margin: 80px 0px 0px 90px;
    -webkit-animation: comming_6 2s ease;
    -o-animation: comming_6 2s ease;
    animation: comming_6 2s ease;
}

@keyframes comming_6 {
    from {
        opacity: 0;
        margin-left: -80px;
    }

    to {
        opacity: 1;
        margin-left: 90px;
    }
}

.hours img {
    margin: 0px auto 0px;
    display: block;
}

.projects {
    display: inline-block;
    width: 200px;
    margin: 80px 0px 0px 90px;
    -webkit-animation: comming_7 2s ease;
    -o-animation: comming_7 2s ease;
    animation: comming_7 2s ease;
}

@keyframes comming_7 {
    from {
        opacity: 0;
        margin-left: -80px;
    }

    to {
        opacity: 1;
        margin-left: 90px;
    }
}
.projects img {
    margin: 0px auto 0px;
    display: block;
}

.reward {
    display: inline-block;
    width: 200px;
    margin: 80px 0px 0px 90px;
    -webkit-animation: comming_3 2s ease;
    -o-animation: comming_3 2s ease;
    animation: comming_3 2s ease;
}

@keyframes comming_8 {
    from {
        opacity: 0;
        margin-left: -80px;
    }

    to {
        opacity: 1;
        margin-left: 90px;
    }
}
.reward img {
    margin: 0px auto 0px;
    display: block;
}

.reviews {
    width: 100%;
    height: 590px;
}

.reviews h2 {
    padding-top: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}

#ph2 {
    margin: 60px auto 35px;
    display: block;
}

.reviews p {
    width: 680px;
    margin: 0px auto 40px;
    color: #3f495a;
    font-size: 14px;
    text-align: center;
}

.my_contacts {
    width: 100%;
    height: 807px;
    background: url(../img/cont_bg.jpg) center/cover no-repeat;
}

.contact_container h2 {
    padding-top: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.contact_container p {
    font-size: 15px;
    color: white;
    text-align: center;
    padding-top: 35px;
}

.cont_icons p {
    font-size: 15px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.city {
    float: left;
    margin: 45px 0px 0px 608px;
    width: 160px;
}

.city img {
    margin: 0px auto 0px;
    display: block;
}

.mail {
    float: left;
    margin: 45px 0px 0px 103px;
    width: 160px;
}

.mail img {
    margin: 0px auto 0px;
    display: block;
}

.projects {
    margin: 45px 0px 0px 103px;
    width: 160px;
}

.projects img {
    margin: 0px auto 0px;
    display: block;
}

.leave_message h3 {
    padding-top: 70px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.name_mail input {
    width: 350px;
    height: 30px;
    background-color: #d1d5db;
    padding: 10px 0px 10px 15px;
}

.name_mail input[type=text] {
    margin: 45px 27px 10px 590px;
}

.message textarea {
    width: 731px;
    height: 95px;
    background-color: #d1d5db;
    margin-left: 590px;
    margin-bottom: 25px;
    padding: 10px 0px 0px 15px;
}

.message input {
    display: block;
    width: 125px;
    height: 45px;
    margin: 0px auto 0px;
    text-align: center;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

footer {
    width: 100%;
    height: 90px;
    text-align: center;
    color: white;
    background-color: #354051;
    padding-top: 40px;
    font-size: 12px;
}
